@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.footer{
    background-color: #71B6FD;
    color: #fff;
}
